<header id="main-header">
  <div id="logo"><a href="/">WDE</a></div>
  <nav>
    <%- include('nav-items') %>
  </nav>
  <div id="mobile-menu-btn">
    <i class="ri-menu-line"></i>
  </div>
</header>
<aside id="mobile-menu">
  <nav>
    <%- include('nav-items') %>
  </nav>
</aside>