<header>
  <div><a href="/">WDE</a></div>
  <nav>
    <ul>
      <% if(locals.isAuth) { %>
        <li>
         <button>Log Out</button>
        </li>
      <% } %>
      <li></li>
      <li></li>
    </ul>
  </nav>
</header>
